@page "/"
@using Core.Models;
@using Groovy.Components;
@using Groovy.Services.Helpers;
@inject AudioBuilder AudioBuilder;

<h3>Reproductor de Audio</h3>

@foreach (var audio in listaAudios)
{
    <TrackInfoComponent Track="@audio" />
    <hr>
}

@code {
    private Audio audio1;
    private List<Audio> listaAudios;

    protected override async Task OnInitializedAsync()
    {
        listaAudios = new List<Audio>();

        audio1 = await AudioBuilder.FromBundledToLocalAsync("track2.mp3");
        listaAudios.Add(audio1);
    }
}