@page "/"
@using Core.Models;
@using Groovy.Components;
@using Groovy.Services.Helpers;
@inject AudioBuilder AudioBuilder;

<h3>Reproductor de Audio</h3>

@foreach (var audio in listaAudios)
{
    <TrackInfoComponent Track="@audio" />
    <hr>
}

@code {
    private List<Audio> listaAudios;

    protected override async Task OnInitializedAsync()
    {
        List<string> tracksToLoad = new List<String>
        {
            "track2.mp3",
            "track1.flac",
        };
        listaAudios = new List<Audio>();

        foreach(var track in tracksToLoad)
        {
            var temp = await AudioBuilder.FromBundledToLocalAsync(track);
            listaAudios.Add(temp);
            
        }

    }
}