@page "/"
@using Core.Models;
@using Groovy.Services;
@inject IJSRuntime JSRuntime
@inject AudioPlayerService AudioPlayerService

<h3>Reproductor de Audio</h3>

<select @onchange="SeleccionarAudio">
    <option value="">Selecciona un audio</option>
    @foreach (var audio in listaAudios)
    {
        <option value="@audio.Url">@audio.Url</option>
    }
</select>

@code {
    private List<Audio> listaAudios = new List<Audio>
    {
        new Audio { Url = "https://upload.wikimedia.org/wikipedia/commons/5/5e/Debussy_-_Pour_les_accords.flac" },
        new Audio { Url = "https://samplelib.com/lib/preview/mp3/sample-12s.mp3" },
    };

    private string audioSeleccionado = "";

    private async Task SeleccionarAudio(ChangeEventArgs e)
    {
        audioSeleccionado = e.Value?.ToString();
        AudioPlayerService.AudioUrl = audioSeleccionado;
        string script = $"var audio = document.getElementById('audioPlayer'); audio.src = '{audioSeleccionado}'; audio.play();";
        await JSRuntime.InvokeVoidAsync("eval", script);
    }
}