@using Groovy.Services.Contracts;
@using Microsoft.Maui.Controls;
@inject IAudioPlayerService AudioPlayerService

<button @onclick="TogglePlay" class="custom-button">
    <img src="Icons/three-dots-52.png" alt="Image" />
</button>

@code {
    private void TogglePlay()
    {
        ;
    }
}