@using Groovy.Services
@inherits LayoutComponentBase
@inject AudioPlayerService AudioPlayerService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AudioPlayer />
        <article class="content px-4">
            @Body
        </article>
        <Groovy.Pages.OnPlaying />
    </main>
</div>