@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="sidebar">
            <NavMenu />
        </div>
        <article class="content">
            @Body
        </article>
    </main>
    <Groovy.Shared.MusicPlayer.MusicPlayer />
</div>