@using Core.Models;
@using Groovy.Services.Contracts;
@inject IJSRuntime JSRuntime
@inject IAudioPlayerService AudioPlayerService

<div>
    <button @onclick="() => SeleccionarAudio(Track.Url)">Select</button>
    <p>@Track.Nombre</p>
</div>

@code {
    [Parameter] public Audio Track { get; set; }

    private void SeleccionarAudio(string audioUrl)
    {
        ;
    }
}