@using Groovy.Services.Contracts;
@inject IAudioPlayerService AudioPlayerService
@using Groovy.Components.Buttons


<div class="music_player_bar">
    <div class="musicProgress">
        <div style="width:@progresPercent"></div>
    </div>
    <input hidden type="range" min="0.0" max=@Math.Round(AudioPlayerService.TotalDuration, 0) step="1"
           value=@Math.Round(AudioPlayerService.CurrentPosition, 0) @oninput="SeekToPosition" />

<div class="track-info">
    <button @onclick="ToggleDisplay">
        <img 
            src=@_albumArt
            alt="Imagen del album"
        >
    </button>
    <div class="data">
        <p>@_title</p>
        @foreach (var artist in _artists)
        {
            <p>@artist</p>
        }
    </div>
    <div class="audio-control">
        <TogglePlayButton />
        <NextButton />
    </div>
</div>

</div>

@code {
    [Parameter]
    public Action ToggleDisplay { get; set; }
    private string _title = "None";
    private List<string> _artists = new List<string>();
    private double _totalDuration = 0.0;
    private string _albumArt;
    private string progresPercent = "0%";
    private void Play()
    {
        AudioPlayerService.Play();
    }

    private void Pause()
    {
        AudioPlayerService.Pause();
    }

    private void Stop()
    {
        AudioPlayerService.Stop();
    }

    private void SeekToPosition(ChangeEventArgs e)
    {
        double newPosition = Convert.ToDouble(e.Value);
        AudioPlayerService.SeekTo(newPosition);
    }

    private void updatetrackInfo()
    {
        _title = AudioPlayerService.Audio.Title;
        _artists = AudioPlayerService.Audio.Artists;
        _totalDuration = AudioPlayerService.TotalDuration;
        _albumArt = AudioPlayerService.Audio.Imagen;
        StateHasChanged();
    }

    private void updateAudioProgres()
    {
        double temp = @Math.Round(AudioPlayerService.CurrentPosition / AudioPlayerService.TotalDuration, 2);
        double x = @Math.Round(temp * 100, 0);
        if (x > 100)
        {
            x = 100;
        }
        progresPercent = $"{x}%";
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        AudioPlayerService.OnAudioStateChanged += updateAudioProgres;
        AudioPlayerService.OnAudioChanged += updatetrackInfo;
    }
}
