@using Groovy.Services
@inject AudioPlayerService AudioPlayerService

<button @onclick="ToggleDisplay">Mas</button>

<input type="range" min="0" max="@AudioPlayerService.TotalDuration.TotalSeconds"
       value="@AudioPlayerService.CurrentPosition.TotalSeconds" @oninput="SeekToPosition" />

<img 
    class="w-10 p-3"
    src="https://images.squarespace-cdn.com/content/v1/5a0dd6831f318dcf5130a0d5/1576103195779-29D5AYRBXRINS7ALNSF4/images+%286%29.jpeg"
    alt="Imagen del album"
>

<p>Ignorar este campo, es para debug. @AudioPlayerService.AudioUrl</p>
<p>Nombre de la cancion, puede que sea largo</p>
<p>Artista</p>

<button @onclick="Play">Play</button>
<button @onclick="Pause">Pause</button>
<button>Siguiente</button>


@code {
    [Parameter]
    public Action ToggleDisplay { get; set; }

    private void Play()
    {
        AudioPlayerService.Play();
    }

    private void Pause()
    {
        AudioPlayerService.Pause();
    }

    private void Stop()
    {
        AudioPlayerService.Stop();
    }

    private void SeekToPosition(ChangeEventArgs e)
    {
        double newPosition = Convert.ToDouble(e.Value);
        AudioPlayerService.SeekTo(TimeSpan.FromSeconds(newPosition));
    }

    protected override void OnInitialized()
    {
        AudioPlayerService.OnAudioStateChanged += StateHasChanged;
    }
}
